<?xml version="1.0"?>

<model>
  <name>wamv_port</name>
  <version>1.0</version>

  <sdf version="1.10">
    model.sdf
  </sdf>

  <author>
    <name>Song</name>
    <email>song@example.com</email>
  </author>

  <description>
    WAM-V model reused for the planning world (plan_world.sdf).
  </description>
</model>
